body{
    background-color: #f7f1f1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    color: #222;
  width: 90%;
  
  margin: 0 auto;
   text-align: center;
}
h1{
   

}
.list{
    
    background-color: rgb(206, 200, 214);
    text-align: center;
}